@property --innerShadow {
	syntax: '<color>';
	initial-value: rgba(0, 0, 0, 0.5);
	inherits: false;
}

@property --outerShadow {
	syntax: '<color>';
	initial-value: #000;
	inherits: false;
}

::-webkit-scrollbar {
	width: 1rem;
	height: 1rem;
}

::-webkit-scrollbar-track {
	border: 0.3rem solid #404060;
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
	background: #404060;  
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
	background: #454565;  
}

html {
	font-size: 14px;
	overflow: hidden;
	background-image: url('assets/decorations/cave_background.png');
	background-size: 320rem 160rem;
	image-rendering: pixelated;
}

body {
	padding: 0;
    margin: 0;
	position: relative;
	text-align: center;
}

footer {
	width: 160rem;
	height: 100px;
	z-index: -10;
	position: relative;
	background-image: url('assets/blocks/block_tile.png');
	background-size: 10rem 10rem;
}

img {
	image-rendering: pixelated;
}

a {
	text-decoration:none;
}

button {
	border: calc(var(--vh, 1vh) * 0.5) solid #404060;
	border-radius: calc(var(--vh, 1vh) * 1);
	background-color: #1116;
	color: #AAAAAA
}
button:hover {
	border-color: #505070;
}
button:focus {
	outline: none;
	box-shadow: none;
}

.hidden {
	display: none;
}

.hidden_menu {
	display: none;
}

.block {
	position: absolute;
	background-color: #895339;
	background-size: 10rem 10rem;
	background-clip: content-box;
	border: 0.625rem solid transparent;
}

.decoration {
	position: absolute;
}

.portal {
	width: 10rem;
	height: 10rem;
	z-index: -1;
	position: absolute;
}

svg.up, svg.down, svg.left, svg.right {
	height: 50%;
	width: 33.33%;
	position: absolute;
	transform-origin: top;
}

svg.up {
	top: 50%;
	left: 33.33%;
	transform: rotate(180deg);
}

svg.down {
	bottom: 0;
	left: 33.33%;
}

svg.left {
	top: 50%;
	left: 33.33%;
	transform: rotate(90deg);
}

svg.right {
	top: 50%;
	right: 33.33%;
	transform: rotate(-90deg);
}

svg > a {
	position: relative;
}

a > p {
	font-size: 20vw;
	position: absolute;
	margin: 30% 30%;
}

#game-field {
	width: 320rem;
	height: 320rem;
	background-color: #5fcde4;
	position: relative;
	margin: 0 auto;
	z-index: -10;
}

#player {
	width: 5rem;
	height: 5rem;
	position: absolute;
	background-image: url("assets/ball.png");
	background-size: cover;
}

#player > #player-up, #player > #player-down, #player > #player-left, #player > #player-right {
	width: 100%;
	height: 100%;
	position: absolute;
}

#player > #player-up {
	left: 0;
	top: -50%;
}

#player > #player-down {
	left: 0;
	top: 50%;
}

#player > #player-left {
	left: -50%;
	top: 0;
}

#player > #player-right {
	left: 50%;
	top: 0;
}

#info-shadow {
	width: 128rem;
	height: 128rem;
	border: solid var(--outerShadow);
	border-width: calc(var(--vh, 1vh) * 100) calc(var(--vw, 1vw) * 100);
	position: absolute;
	background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, var(--innerShadow) 10%, var(--outerShadow) 70%, var(--outerShadow) 100%);
}

#info-window {
	width: calc(var(--vw, 1vw) * 80);
	height: calc(var(--vh, 1vh) * 30);
	left: calc(var(--vw, 1vw) * 10);
	top: calc(var(--vh, 1vh) * 10);
	position: fixed;
	border: calc(var(--vh, 1vh) * 0.5) solid #404060;
	border-radius: calc(var(--vh, 1vh) * 2);
	background-color: rgba(20, 20, 30, 0.8);
	color: #AAAAAA
}
#info-window h3 {
	font-size: calc(var(--vh, 1vh) * 3);
}

#info-window p {
	font-size: calc(var(--vh, 1vh) * 2);
}

#redirect-button {
	position: absolute;
	bottom: calc(var(--vh, 1vh) * 0.5);
	right: calc(var(--vh, 1vh) * 0.5);
	padding: calc(var(--vh, 1vh) * 0.8);
	border: calc(var(--vh, 1vh) * 0.3) solid #AAAAAA;
	border-radius: var(--vh, 1vh);
	font-size: calc(var(--vh, 1vh) * 2.1);
	color: #AAAAAA
}

#menu-button {
	width: calc(var(--vh, 1vh) * 6);
	height: calc(var(--vh, 1vh) * 6);
	left: calc(var(--vw, 1vw) * 2);
	top: calc(var(--vh, 1vh) * 2);
	position: fixed;
	background-color: rgba(20, 20, 30, 0.8);
	font-size: calc(var(--vh, 1vh) * 5);
	line-height: 1;
}

#menu {
	width: calc(var(--vw, 1vw) * 50);
	height: calc(var(--vh, 1vh) * 60);
	left: calc(var(--vw, 1vw) * 25);
	top: calc(var(--vh, 1vh) * 10);
	position: fixed;
	border: calc(var(--vh, 1vh) * 0.5) solid #404060;
	border-radius: calc(var(--vh, 1vh) * 2);
	background-color: rgba(20, 20, 30, 0.8);
	color: #AAAAAA
}

#menu > .scroll-box {
	width: auto;
	height: 78%;
	margin: calc(var(--vh, 1vh) * 1);
	margin-top: calc(var(--vh, 1vh) * 8);
	padding: 1rem;
	overflow: auto;
}

#menu > .scroll-box > .grid-box {
	display: flex;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 1rem;
}

#menu > .scroll-box > .grid-box > p {
	font-size: calc(var(--vh, 1vh) * 2);
	margin: auto;
	margin-left: 0;
}

#menu > .scroll-box > .grid-box > button {
	height: calc(var(--vh, 1vh) * 4);
	font-size: calc(var(--vh, 1vh) * 2);
	
}

#controls-info {
	height: calc(var(--vh, 1vh) * 7);
	line-height: calc(var(--vh, 1vh) * 7);
	width: 70%;
	position: absolute;
	border: calc(var(--vh, 1vh) * 0.5) solid #404060;
	border-radius: calc(var(--vh, 1vh) * 1);
	background-color: #0008;
	font-size: calc(var(--vh, 1vh) * 3);
	padding: auto;
	inset: 0;
	margin: auto;
}

#close-menu {
	width: calc(var(--vh, 1vh) * 6);
	height: calc(var(--vh, 1vh) * 6);
	right: calc(var(--vh, 1vh) * 1);
	top: calc(var(--vh, 1vh) * 1);
	position: absolute;
	font-size: calc(var(--vh, 1vh) * 5);
	line-height: 0;
	color: #AAAAAA;
}
#close-menu:focus-visible {
	outline: none;
}

#movement-buttons {	
	width: 20vw;
	height: 20vw;
	bottom: 5rem;
	left: 5rem;
	position: fixed;
	
}