html {
	font-size: 14px;
}
body {
	background-color: #008080;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}
a.button {
	padding: 0.3rem;
	border: solid 0.3rem;
	border-top-color: #fdffff;
	border-left-color: #fdffff;
	border-bottom-color: #818181;
	border-right-color: #818181;
	background-color: #c3c3c3;
	text-align: center;
}
a.button:hover {
	border-top-color: #818181;
	border-left-color: #818181;
	border-bottom-color: #fdffff;
	border-right-color: #fdffff;
}
div.container {
	width: 70rem;
	height: 50rem;
	border: solid 0.3rem #c3c3c3;
	background-color: #c3c3c3;
	display: flex;
	flex-flow: column;
	gap: 0.3rem;
}
div.container .head {
	background-color: #0827f5;
	height: 1.5rem;
	width: auto;
	color: #fdffff;
	padding: 0.1rem 0.3rem 0rem;
	flex: 0 1 auto;
}
div.container .body {
	height: auto;
	width: auto;
	display: flex;
	flex-flow: row;
	justify-content: stretch;
	flex: 1 1 auto;
	gap: 0.3rem;
}
.left_panel {
	height: auto;
	width: 20rem;
	display: flex;
	flex-flow: column;
	justify-content: stretch;
}
.game_panel {
	height: auto;
	width: 50rem;
	border: solid 0.3rem;
	border-top-color: #818181;
	border-left-color: #818181;
	border-bottom-color: #fdffff;
	border-right-color: #fdffff;
}